.body-bar{
    height: auto;
}
table {
    width: 100%;
}
.mat-table {
    overflow: auto;
    max-height: 500px;
}
th.mat-header-cell{
    min-width: 100px;
}
.header-btns{
    height: 32px;
    margin-top: 8px;
    padding-bottom: 16px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 32px;
}
.body-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-top: 0px;
    overflow: auto;
    margin-right: 32px;
    margin-left: 32px;
}
.table-container {
    overflow: auto;
}
.body-header {
    min-height: 64px;
    padding: 8px 24px 0;
}
.row-count{
    padding: 8px 24px 0;
}
.button-go-to-input{
    margin-left: 8px;
    background-color: rgb(226, 117, 117);
}
.delete-selected{
    background-color: rgb(226, 117, 117);
}
.refresh-screen{
    margin-left: 8px;
    background-color: rgb(226, 117, 117);
}
.nav-bar{
    background-color: #233857;
    height: 75px;
    position: relative;
    width:100%;
}
.title-design{
    padding-top: 20px;
    padding-left:32px;
    position: relative;
    font-size: x-large;
    color: white;
}
.home-btn{
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 70px;
}
.home-btn-div{
    display:flex;
    justify-content: flex-end;
    margin-top:-45px;
    padding-right: 32px;
}
.backbtn-text{
    color:black;
    font-size: 14px;
}