<div class="nav-bar">
  <h1 class="title-design">Booth Prabhari</h1>
</div>
<div class="body-bar">
  <button mat-raised-button class="home-page-btn" (click)="district()">
    <h1 class="btn-text">District</h1>
  </button>
  <button mat-raised-button class="home-page-btn" (click)="localBody()">
    <h1 class="btn-text">Local Body</h1>
  </button>
  <button mat-raised-button class="home-page-btn" (click)="ward()">
    <h1 class="btn-text">Ward</h1>
  </button>
  <button mat-raised-button class="home-page-btn" (click)="pollingStation()">
    <h1 class="btn-text">Polling Station</h1>
  </button>
  <button mat-raised-button class="home-page-btn" (click)="voter()">
    <h1 class="btn-text">Voters List</h1>
  </button>
  <button mat-raised-button class="home-page-btn" (click)="candidate()">
    <h1 class="btn-text">Candidate List</h1>
  </button>
  <button mat-raised-button class="home-page-btn" (click)="religion()">
    <h1 class="btn-text">Religion</h1>
  </button>
  <button mat-raised-button class="home-page-btn" (click)="caste()">
    <h1 class="btn-text">Caste</h1>
  </button>
</div>