.nav-bar{
    background-color: #233857;
    height: 125px;
    position: relative;
    width:100%;
}
.title-design{
    padding-top: 45px;
    padding-left:30px;
    position: relative;
    font-size: xx-large;
    color: white;
}
.home-page-btn{
    position: relative;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 25px;
    width:200px;
    height: 30%;
    background-color: #2878d4;
    box-shadow: 5px 10px 18px #aca8a8;
}
.home-page-btn:hover{
    background-color: #1d508a;
}
.btn-text{
    position: relative;
    color:white;
    font-size: 28px;
    margin-bottom: 0px;
}