<div class="about-me">

    <!-- Name -->
    <div class="header-title">
        <h2 class="header-display">Rahul R Pillai</h2>
    </div>

    <!-- Brief Description -->
    <div class="header-desc">
        <h4 class="mat-headline-class">I'm a <b>Full Stack Engineer</b>, resourceful and enthusiastic person with 4+
            years of experience.
            <br />I love to learn new technologies and
            looks forward for a place where I can effectively utilize my skills for my growth along with
            my organization.</h4>
    </div>

    <!-- Basic Details -->
    <div class="brief-desc">
        <h4 class=" mat-subheading-class"><b style="color:rgb(19, 78, 204)">Sex:</b> Male |
            <b style="color:rgb(19, 78, 204)">Date of birth: </b>27-Feb-1994 |
            <b style="color:rgb(19, 78, 204)">Nationality: </b>Indian |
            <b style="color:rgb(19, 78, 204)">Marital status: </b>Single
        </h4>
    </div>

    <hr />

    <!-- Image and Contact Details -->
    <div class="image-contact">

        <!-- Image -->
        <div class="image-aboutme">
            <img style="border-radius:5px; max-width:200px" src="./assets/aboutrahul.jpg">
        </div>

        <!-- Contact Details -->
        <div class="image-location">
            <table>
                <tr>
                    <td><img width="32" src="./assets/location1.JPG"></td>
                    <td style="padding-left: 10px;">Mepurath Melethil H, Keekozhoor PO, Ranni, Pathanamthitta</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-left: 10px;">Kerala, Pin: 689672</td>
                </tr>
                <tr>
                    <td><img width="34" src="./assets/phone1.JPG"></td>
                    <td style="padding-left: 10px;">+91 9605298484</td>
                </tr>
                <tr>
                    <td><img width="34" src="./assets/mail1.JPG"></td>
                    <td style="padding-left: 10px;">rahulrpillai012@gmail.com</td>
                </tr>
                <tr>
                    <td><img width="36" src="./assets/edu1.JPG"></td>
                    <td style="padding-left: 10px;">B.Tech in Computer Science and Engineering, CUSAT University, 2016
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="padding-left: 10px;">CGPA: 8.23</td>
                </tr>
            </table>
        </div>
    </div>

    <hr />

    <!-- Skill Section -->
    <div class="title-skill">Skills</div>

    <div class="skill-details">

        <div class="skill-tab1">
            <h2 style="margin-bottom:4px">Core Java</h2>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100">75%</div>
            </div>

            <h2 style="padding-top:16px; margin-bottom:4px;">Spring Framework</h2>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0"
                    aria-valuemax="100">65%</div>
            </div>

            <h2 style="padding-top:16px; margin-bottom:4px;">Angular</h2>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                    aria-valuemax="100">70%</div>
            </div>

        </div>
        <div class="skill-tab2">
            <h2 style="margin-bottom:4px">OOP</h2>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100">80%</div>
            </div>

            <h2 style="padding-top:16px; margin-bottom:4px;">Spring Boot</h2>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0"
                    aria-valuemax="100">65%</div>
            </div>

            <h2 style="padding-top:16px; margin-bottom:4px;">HTML5, CSS</h2>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0"
                    aria-valuemax="100">65%</div>
            </div>
        </div>
    </div>

    <!-- Other Skill Section -->
    <div class="other-skills">

        <div class="other-skill-section1">
            <h2 style="margin-bottom:4px">Build Tool</h2>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Maven - A build automation tool</b>
            </div>
            <h2 style="margin-bottom:4px">Testing Tool</h2>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Postman - A tool to verify API calls</b>
            </div>
            <h2 style="margin-bottom:4px">Database</h2>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Oracle - A relational database</b>
            </div>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Firebase - A cloud based NOSQL database</b>
            </div>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">MongoDB - A cross-platform document-oriented database</b>
            </div>
        </div>

        <div class="other-skill-section2">
            <h2 style="margin-bottom:4px">Version Control</h2>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Git - A distributed version control system</b>
            </div>
            <h2 style="margin-bottom:4px">Server</h2>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Tomcat - An application server</b>
            </div>
            <h2 style="margin-bottom:4px">Project Development Tools</h2>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Eclipse - An IDE used in computer programming</b>
            </div>
            <div style="text-align: left; padding-bottom: 16px;">
                <img width="28" src="./assets/bullets.JPG">
                <b class="bullet-list">Visual Studio Code - A source code editor</b>
            </div>
        </div>

    </div>

    <hr />

    <!-- Project Section -->
    <div class="title-project">Projects</div>

    <div class="project"><img width="38" src="./assets/project.JPG"><b class="project-name">&nbsp;Suppy Chain
            Management</b>
    </div>
    <div class="project-detail">
        I have been working as a developer in an AI enabled ERP product for Supply Chain Management for 4+ years. This
        product provides high usability and input less experience for user. It is about the management of flow of goods
        and services including modules such as procurement, inventory , sales, cost, accounts payable etc. I work in
        designing and developing catalogs in Sales, Procurement, Master Maintenance and Approval modules in SCM. I also
        have experience in writing test cases, uml and test files etc. I have developed a tool for easing the workload
        of testers by auto generating test cases for catalogs.<br />

        <b style="color:#1683e3">Front end :</b> <b> Angular</b> | <b style="color:#1683e3">Back end
            :</b><b> Spring</b> | <b style="color:#1683e3">Database :</b><b> Oracle</b><br />

    </div>

    <div class="project"><img width="38" src="./assets/project.JPG"><b class="project-name">&nbsp;Booth Prabhari</b>
    </div>
    <div class="project-detail">
        Booth Prabhari is a mobile application to manage election at booth level in Kerala by manipulating voters list
        in a
        booth(Polling Station). The term "Booth Prabhari" means Polling Station In-charge. The users of this application
        are political parties in Kerala. This app assist political parties to analyse voters list in a scientific way
        with least error factors. It helps user to access a particular voter based on the district, local body, ward and
        polling station he/she belongs to. User can manage the adequate details of voter such as name, age, gender,
        address, phone number, voter Id, religion, caste, which political party he/she belongs to, whether he/she died
        or out of station which are highly usable for winning an election.
        <br /><br />
        <b>Main Features :</b>
        <br /><br />
        <b>Search Voter</b><br />
        -> Helps to search voter in a booth using serial number or name or address of a particular voter.<br />
        -> User can edit and retrieve basic details of a voter.<br />
        -> User can call a particular voter if phone number is available.<br />
        -> User can put vote for a particular voter in this app if he appears physically for voting on election day
        which
        helps in predicting exit poll result.
        <br /><br />
        <b>Booth Status</b><br />
        -> Users can manage candidates in election.<br />
        -> Shows a vivid picture of current status of the booth like polling station details, total votes, death votes,
        out of station votes, expected poll, total polled etc. <br />
        -> User can also manage candidate details.<br />
        -> Gives a graphical representation of pre poll and exit poll result with leads count.
        <br /><br />
        <b>Filter Voter</b><br />
        -> Users can filter voters based on religion, caste, gender, candidate, dead, voted, out of station and age or
        any of the above.
        <br /><br />
        By using this app political parties can manage the election in a systematic way and can predict their votes
        before and after election. So that they can work in such a way to tackle the cup.
        <br /><br />
        <b style="color:#1683e3">Front end :</b> <b> Angular</b> | <b style="color:#1683e3">Back end :</b><b>
            SpringBoot</b> | <b style="color:#1683e3">Database :</b><b> Firebase</b><br />

        Git project URL:
        <a style="color:rgb(19, 78, 204)" href="https://github.com/rahuradh">Booth Prabhari</a>
        <br />
    </div>

    <div class="project"><img width="38" src="./assets/project.JPG"><b class="project-name">&nbsp;NotifyMe</b></div>
    <div class="project-detail">
        NotifyMe is a web application used to notify about the events created by user in whatsApp. It consist of a
        portal, detail and an input page to manage events. Any user can create an event by providing the event's date
        and notification period so that he will recieve a whatsApp message every year during the notification period
        which is prior to the event date. User can search or make status On or Off for all events in portal page. A new
        event can be added
        using input page and can manage a particular event in detail page.
        <br /><br />
        <b style="color:#1683e3">Front end :</b> <b> Angular</b> | <b style="color:#1683e3">Back end :</b><b>
            SpringBoot</b> | <b style="color:#1683e3">Database :</b><b> MongoDB</b><br />

        Git project URL:
        <a style="color:rgb(19, 78, 204)" href="https://github.com/rahuradh">NotifyMe</a>
        <br />
    </div>


    <hr />

    <!-- Certifications and Publication Section -->
    <div class="pub-cert">
        <div class="certification-section">
            <div class="title-cert">Certification</div>
            <div style="text-align: center; padding-bottom: 16px;">
                <img width="26" src="./assets/certificate_icon.JPG">
                <b class="cert-list">Oracle Certified Associate, Java SE 8 Programmer</b><br />
                <!-- <b class="cert-list1">Certificate:<a style="color:rgb(19, 78, 204)"
                        href="https://drive.google.com/file/d/1LLJiLVOhzTF1zIbQVkMxFUPtNMsSldWk/view">OCA</a></b> -->
            </div>
        </div>
    </div>

    <hr />

    <!-- Profiles -->
    <div class="profiles">
        <a class="git" href="https://github.com/rahuradh">
            <img width="42" height="38px" src="./assets/git.JPG">
        </a>
        <a class="linkedin" href="https://www.linkedin.com/in/rahul-r-pillai-7b81481b1/">
            <img width="42" height="38px" src="./assets/LinkedIn.JPG">
        </a>
    </div>

    <div class="resume">
        <a class="resume-link" style="color:rgb(19, 78, 204)" href="">
            Find my resume here
        </a>
    </div>

    <div class="footer-desc"></div>

</div>